<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="description" content="">
  <meta http-equiv="X-UA-Compatible" content="chrome=1,IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Title -->
  <title>SharpToken</title>
  <!-- Favicon -->
  <link rel="icon" href="favicon.ico">
  <!-- Core Stylesheet -->
  <link href="css/blink4.css?20180510" rel="stylesheet">
  <link href="css/responsive.css" rel="stylesheet">
</head>

<body>
  <!-- Preloader Start -->
  <div id="preloader">
    <div class="spinner">
      <div class="bounce1"></div>
      <div class="bounce2"></div>
      <div class="bounce3"></div>
    </div>
  </div>
  <!-- ***** Header Area Start ***** -->
  <header class="header_area bg-transparent">
    <div class="container-fluid h-100">
      <div class="row h-100">
        <!-- Menu Area Start -->
        <div class="col-12 h-100">
          <div class="menu_area h-100">
            <nav class="navbar h-100 navbar-expand-lg align-items-center">
              <!-- Logo -->
              <a class="navbar-brand" href="index.html">
                <img src="img/s-logo.svg" style="height: 18px; margin:0 4px 4px 0">SharpToken</a>
              <button class="collapsed navbar-toggler" style="padding: 4px;" data-toggle="collapse" data-target="#blinkNav" aria-controls="blinkNav"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <!-- Menu Area -->
              <div class="collapse navbar-collapse" id="blinkNav">
                <ul class="navbar-nav ml-auto" id="nav">
                  <li class="nav-item active">
                    <a class="nav-link" href="#home">HOME</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#about">ABOUT US</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#team">TEAM</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#projects">PROJECTS</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#contact">CONTACT</a>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </header>
  <!-- ***** Header Area End ***** -->
  <!-- ***** Wellcome Area Start ***** -->
  <section class="welcome_area clearfix bg-overlay1by3" id="particles-js">
    <div class="h-100" id="home">
      <div class="container h-100">
        <div class="row h-100 align-items-center">
          <div class="col-12">
            <div class="welcome-text vimeo text-center">
              <style class="styletron-global" media="only screen and (max-width: 575px)">
                ._bt {
                  padding: 40px;
                  box-sizing: border-box;
                  max-width: 360px;
                }
              </style>
              <div class="_bm">
                <div class="_bn _bt">
                  <div class="_a0"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Wellcome Area End ***** -->
  <!-- ***** About Area Start ***** -->
  <section class="about-area clearfix section_padding_150 d-lg-flex align-items-center" id="about" v-lazy:background-image.container="imgUrl">
    <!-- About Image -->
    <div class="container">
      <div class="row">
        <!-- About Content Area -->
        <div class="col-12 col-md-6">
          <h2>About Us</h2>
          <p>SharpToken Capital Pte.Ltd. is registered in Singapore, dedicated to investments in new technologies and blockchain
            fields, including blockchain underlying technologies investment, blockchain business scenes investment, blockchain
            industry ecology investment, and blockchain innovation investment and so on. The team members entered into this
            field since from 2011 and have rich experience and profound insights in cryptocurrency and blockchain industry.
          </p>
          <p>SharpToken focuses on early or private round investment in creative and promising projects, especially those working
            on blockchain underlying technology development. </p>
          <div class="input-group" style="max-width:50vw;">
            <div class="input-group-prepend">
              <span class="input-group-text">bg</span>
            </div>
            <input type="text" class="form-control btn-dark" v-model="imgUrl">
          </div>
        </div>
        <div class="col-12 col-md-6">
          
        </div>
      </div>
    </div>
  </section>
  <!-- ***** About Area End ***** -->
  <!-- ***** Our Team Area Start ***** -->
  <section class="our-team-area section_padding_90_70 clearfix" id="team">
    <div class="container">
      <div class="row">
        <div class="col-12 text-center">
          <!-- Heading Text  -->
          <div class="section-heading">
            <h2>SharpToken.Team</h2>
            <p></p>
          </div>
        </div>
      </div>
      <div class="row">
        <!-- Single Team Member -->
        <div class="col-12 col-sm-6 col-lg-3" v-for="single in singles">
          <div class="single-team-member text-center">
            <div class="member-image">
              <img class="lazyload" v-lazy="single.image" alt="">
              <!-- Overlay -->
              <div class="team-overlay-effect">
              </div>
            </div>
            <div class="member-text">
              <h4>{{ single.name }}</h4>
              <p>{{ single.office }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Our Team Area End ***** -->
  <!-- ***** projects Area Start ***** -->
  <section class="our-service-area section_padding_90_50 clearfix" id="projects">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <!-- Heading Text -->
          <div class="section-heading text-center">
            <h2>SharpToken.Projects</h2>
            <p style="font-size: 14px">some are invested by the founders as individual</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12" v-for="project in projects">
          <div class="projects_icon text-center">
            <div class="projects-img">
              <img :src="project.logo">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** projects Area End ***** -->

  <!-- ***** contact Area Start ***** -->
  <section class="contact-area section_padding_150_100 bg-overlay1by3" id="contact" v-lazy:background-image.container="imgUrl">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8 ml-auto">
          <!-- Subscribe Content Text -->
          <div class="subscribe_content">
            <h2>Contact</h2>
            <p>
              <i class="fa fa-envelope-open" aria-hidden="true"></i>
              <a href="mailto:contact@sharptoken.com">contact@sharptoken.com</a>
            </p>
            <p>
              <i class="fa fa-globe" aria-hidden="true"></i> 2 Venture Drive, 11-30, Vision Exchange, Singapore, 608526</p>              
              <div class="input-group" style="max-width:35vw;">
                <div class="input-group-prepend">
                  <span class="input-group-text">bg</span>
                </div>
                <input type="text" class="form-control btn-dark" v-model="imgUrl">
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** contact Area End ***** -->
  <!-- ***** Cool Facts Area Start ***** -->
  <section class="cool_facts_do_area section_padding_90_50 clearfix jarallax" v-lazy:background-image.container="imgUrl">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-6 col-lg-3">
          <!-- Single Cool Fact-->
          <div class="single_cool_fact text-center">
            <div class="right-left-border-shape">
              <div class="cool_fact_icon">
                <i class="ti-user"></i>
              </div>
              <!-- Single Cool Detail-->
              <div class="cool_fact_detail">
                <h3>
                  <span class="counter">2011.8</h3>
                <h2>We start</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <!-- Single Cool Fact-->
          <div class="single_cool_fact text-center">
            <div class="right-left-border-shape">
              <div class="cool_fact_icon">
                <i class="ti-basketball"></i>
              </div>
              <!-- Single Cool Detail-->
              <div class="cool_fact_detail">
                <h3>
                  <span class="counter">3000</span>+</h3>
                <h2>Project reviewed</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <!-- Single Cool Fact-->
          <div class="single_cool_fact text-center">
            <div class="right-left-border-shape">
              <div class="cool_fact_icon">
                <i class="ti-alarm-clock"></i>
              </div>
              <!-- Single Cool Detail-->
              <div class="cool_fact_detail">
                <h3>
                  <span class="counter">40</span>+</h3>
                <h2>Project Invested</h2>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-sm-6 col-lg-3">
          <!-- Single Cool Fact-->
          <div class="single_cool_fact text-center">
            <div class="right-left-border-shape">
              <div class="cool_fact_icon">
                <i class="ti-cup"></i>
              </div>
              <!-- Single Cool Detail-->
              <div class="cool_fact_detail">
                <h3>
                  <span class="counter">2000</span>%+</h3>
                <h2>Average ROI</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="input-group" style="max-width:40vw;">
        <div class="input-group-prepend">
          <span class="input-group-text">bg</span>
        </div>
        <input type="text" class="form-control btn-dark" v-model="imgUrl">
      </div>
    </div>
  </section>
  <!-- ***** Cool Facts Area End ***** -->

  <!-- ***** Download App Area Start ***** -->
  <section class="goodbye-area section_padding_150" v-lazy:background-image.container="imgUrl">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-10 col-lg-8">
          <!-- Subscribe Content Text -->
          <div class="goodbye_content">
            <h2>Trust's laws hid in night;</h2>
            <h2>God said,"let Satoshi be!" and all was light</h2>
            <p>
              <br>We know that the great figures often turn out inadvertently to push forward the history progress. SharpToken
              Capital sincerely looks forward to encountering with prominent programs, achieving our common cause and dreams.</p>
              <div class="input-group" style="max-width:50vw;">
                <div class="input-group-prepend">
                  <span class="input-group-text">bg</span>
                </div>
                <input type="text" class="form-control btn-dark" v-model="imgUrl">
              </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Download App Area End ***** -->

  <!-- ***** Footer Area Start ***** -->
  <section class="footer-area clearfix">
    <!-- Bottom Footer Area -->
    <div class="bottom-footer-area">
      <!-- Footer Text -->
      <div class="container copywrite_text">
        <p>© SharpToken All Rights Reserved</p>
      </div>
    </div>
  </section>
  <!-- ***** Footer Area End ***** -->

  <!-- jQuery-2.2.4 js -->
  <script src="https://cdn.bootcss.com/jquery/2.2.4/jquery.min.js"></script>
  <!-- Bootstrap js -->
  <script src="https://cdn.bootcss.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  <!-- All Plugins js -->
  <script src="js/plugins.js"></script>
  <script src="https://cdn.bootcss.com/particles.js/2.0.0/particles.min.js"></script>
  <script src="js/particlesjs-config.json.js"></script>
  <script src="https://cdn.bootcss.com/vue/2.5.16/vue.min.js"></script>
  <script src="https://cdn.bootcss.com/vue-lazyload/1.2.3/vue-lazyload.js"></script>
  <script type="text/javascript" src="js/db.js?20150510"></script>
  <!-- Active js -->
  <script src="js/active.js?20150510"></script>
</body>
</html>